<div class="form-row">
    <label class="form-label">Report Interval: </label><input [(ngModel)]="runtimeSettings.ReportInterval" placeholder="Report Interval">
</div>
<div class="form-row">
    <label class="form-label">Ping Interval: </label><input [(ngModel)]="runtimeSettings.PingInterval" placeholder="Ping Interval">
</div>
<div class="form-row">
    <label class="form-label">Pre Alarm Period: </label><input [(ngModel)]="runtimeSettings.PreAlarmPeriod" placeholder="Pre Alarm Period">
</div>
<div class="form-row">
    <label class="form-label">Adherence Check Interval: </label><input [(ngModel)]="runtimeSettings.AdherenceCheckInterval" placeholder="Adherence Check Interval">
</div>
<div class="form-row">
    <label class="form-label">Alarm Clear Timeout: </label><input [(ngModel)]="runtimeSettings.AlarmClearTimeout" placeholder="Alarm Clear Timeout">
</div>
<div class="form-row">
    <label class="form-label">Alarm Cancel Timeout: </label><input [(ngModel)]="runtimeSettings.AlarmCancelTimeout" placeholder="Alarm Cancel Timeout">
</div>
<div class="form-row">
    <label class="form-label">Daily Report Interval: </label><input [(ngModel)]="runtimeSettings.DailyReportInterval" placeholder="Daily Report Interval">
</div>
<div class="form-row">
    <label class="form-label">Geo Location Retry Count: </label><input [(ngModel)]="runtimeSettings.GeoLocationRetryCount" placeholder="Geo Location Retry Count">
</div>


<div class="form-row">
    <label class="form-label">Geo Location High Accuracy: </label><input [(ngModel)]="runtimeSettings.GeoLocationHighAccuracy">
</div>



<div class="form-row">
    <label class="form-label">Device Name: </label><input [(ngModel)]="runtimeSettings.DeviceName" placeholder="device name">
</div>