<div class="form-row">
    <label class="form-label" for="ReportInterval">Report Interval: </label>
    <input [(ngModel)]="ReportInterval"
           id="ReportInterval"
           name="ReportInterval"
           placeholder="Report Interval">
</div>

<div class="form-row">
    <label class="form-label" for="PingInterval">Ping Interval: </label>
    <input [(ngModel)]="PingInterval"
           id="PingInterval"
           name="PingInterval"
           placeholder="Ping Interval">
</div>

<div class="form-row">
    <label class="form-label" for="PreAlarmPeriod">Pre Alarm Period: </label>
    <input [(ngModel)]="PreAlarmPeriod"
           id="PreAlarmPeriod"
           name="PreAlarmPeriod"
           placeholder="Pre Alarm Period">
</div>

<div class="form-row">
    <label class="form-label" for="AdherenceCheckInterval">Adherence Check Interval: </label>
    <input [(ngModel)]="AdherenceCheckInterval"
           id="AdherenceCheckInterval"
           name="AdherenceCheckInterval"
           placeholder="Adherence Check Interval">
</div>

<div class="form-row">
    <label class="form-label" for="AlarmClearTimeout">Alarm Clear Timeout: </label>
    <input [(ngModel)]="AlarmClearTimeout"
           id="AlarmClearTimeout"
           name="AlarmClearTimeout"
           placeholder="Alarm Clear Timeout">
</div>

<div class="form-row">
    <label class="form-label" for="AlarmCancelTimeout">Alarm Cancel Timeout: </label>
    <input [(ngModel)]="AlarmCancelTimeout"
           id="AlarmCancelTimeout"
           name="AlarmCancelTimeout"
           placeholder="Alarm Cancel Timeout">
</div>

<div class="form-row">
    <label class="form-label" for="PreAlarmPeriod">Pre Alarm Period: </label>
    <input [(ngModel)]="PreAlarmPeriod"
           id="PreAlarmPeriod"
           name="PreAlarmPeriod"
           placeholder="Pre Alarm Period">
</div>

<div class="form-row">
    <label class="form-label" for="DailyReportInterval">Daily Report Interval: </label>
    <input [(ngModel)]="DailyReportInterval"
           id="DailyReportInterval"
           name="DailyReportInterval"
           placeholder="Daily Report Interval">
</div>

<div class="form-row">
    <label class="form-label" for="GeoLocationRetryCount">Geo Location Retry Count: </label>
    <input [(ngModel)]="GeoLocationRetryCount"
           id="GeoLocationRetryCount"
           name="GeoLocationRetryCount"
           placeholder="Geo Location Retry Count">
</div>

<div class="form-row">
    <label class="form-label" for="GeoLocationHighAccuracy">Geo Location High Accuracy: </label>
    <input [(ngModel)]="GeoLocationHighAccuracy"
           id="GeoLocationHighAccuracy"
           name="GeoLocationHighAccuracy"
           placeholder="Geo Location High Accuracy">
</div>

<div class="form-row">
    <label class="form-label" for="DeviceName">Device Name: </label>
    <input [(ngModel)]="DeviceName"
           id="DeviceName"
           name="DeviceName"
           placeholder="Device Name">
</div>

<div class="form-row">
    <label class="form-label" for="PalmTouchTrigger">Palm Touch Trigger: </label>
    <input [(ngModel)]="PalmTouchTrigger"
           id="PalmTouchTrigger"
           name="PalmTouchTrigger"
           placeholder="Palm Touch Trigger">
</div>

<div class="form-row">
    <label class="form-label" for="DemoMode">Demo Mode: </label>
    <input [(ngModel)]="DemoMode"
           id="DemoMode"
           name="DemoMode"
           placeholder="Demo Mode">
</div>

<div class="form-row">
    <label class="form-label" for="VerboseLogging">Verbose Logging: </label>
    <input [(ngModel)]="VerboseLogging"
           id="VerboseLogging"
           name="VerboseLogging"
           placeholder="Verbose Logging">
</div>