
<h2>Runtime Settings</h2>
<div style="color:crimson" class="form-prompt" *ngIf="isLoading">loading data...</div>


<div class="form-row">
    <label class="form-label" for="ReportInterval">Report Interval: </label>
    <input [(ngModel)]="reportInterval"
           (change)="formChanged()"
           id="ReportInterval"
           name="ReportInterval"
           placeholder="Report Interval">
</div>

<div class="form-row">
    <label class="form-label" for="PingInterval">Ping Interval: </label>
    <input [(ngModel)]="pingInterval"
           (change)="formChanged()"
           id="PingInterval"
           name="PingInterval"
           placeholder="Ping Interval">
</div>

<div class="form-row">
    <label class="form-label" for="PreAlarmPeriod">Pre Alarm Period: </label>
    <input [(ngModel)]="preAlarmPeriod"
           (change)="formChanged()"
           id="PreAlarmPeriod"
           name="PreAlarmPeriod"
           placeholder="Pre Alarm Period">
</div>

<div class="form-row">
    <label class="form-label" for="AdherenceCheckInterval">Adherence Check Interval: </label>
    <input [(ngModel)]="adherenceCheckInterval"
           (change)="formChanged()"
           id="AdherenceCheckInterval"
           name="AdherenceCheckInterval"
           placeholder="Adherence Check Interval">
</div>

<div class="form-row">
    <label class="form-label" for="AlarmClearTimeout">Alarm Clear Timeout: </label>
    <input [(ngModel)]="alarmClearTimeout"
           (change)="formChanged()"
           id="AlarmClearTimeout"
           name="AlarmClearTimeout"
           placeholder="Alarm Clear Timeout">
</div>

<div class="form-row">
    <label class="form-label" for="AlarmCancelTimeout">Alarm Cancel Timeout: </label>
    <input [(ngModel)]="alarmCancelTimeout"
           (change)="formChanged()"
           id="AlarmCancelTimeout"
           name="AlarmCancelTimeout"
           placeholder="Alarm Cancel Timeout">
</div>

<div class="form-row">
    <label class="form-label" for="DailyReportInterval">Daily Report Interval: </label>
    <input [(ngModel)]="dailyReportInterval"
           (change)="formChanged()"
           id="DailyReportInterval"
           name="DailyReportInterval"
           placeholder="Daily Report Interval">
</div>

<div class="form-row">
    <label class="form-label" for="GeoLocationRetryCount">Geo Location Retry Count: </label>
    <input [(ngModel)]="geoLocationRetryCount"
           (change)="formChanged()"
           id="GeoLocationRetryCount"
           name="GeoLocationRetryCount"
           placeholder="Geo Location Retry Count">
</div>

<div class="form-row">
    <label class="form-label" for="GeoLocationHighAccuracy">Geo Location High Accuracy: </label>
    <input type="checkbox"
           [checked]="geoLocationHighAccuracy"
           (change)="geoLocationHighAccuracy = !geoLocationHighAccuracy; formChanged()"
           id="GeoLocationHighAccuracy"
           name="GeoLocationHighAccuracy" />
</div>

<div class="form-row">
    <label class="form-label" for="GeoLocationTimeOut">Geo Location Time Out: </label>
    <input [(ngModel)]="geoLocationTimeOut"
           (change)="formChanged()"
           id="GeoLocationTimeOut"
           name="GeoLocationTimeOut"
           placeholder="Geo Location Time Out">
</div>

<div class="form-row">
    <label class="form-label" for="GeoMaxAgeTimeOut">Geo Max Age Time Out: </label>
    <input [(ngModel)]="geoMaxAgeTimeOut"
           (change)="formChanged()"
           id="GeoMaxAgeTimeOut"
           name="GeoMaxAgeTimeOut"
           placeholder="Geo Max Age Time Out">
</div>

<div class="form-row">
    <label class="form-label" for="CmfPhoneNumber">Cmf Phone Number: </label>
    <input [(ngModel)]="cmfPhoneNumber"
           (change)="formChanged()"
           id="CmfPhoneNumber"
           name="CmfPhoneNumber"
           placeholder="Cmf Phone Number">
</div>

<div class="form-row">
    <label class="form-label" for="PalmTouchTrigger">Palm Touch Trigger: </label>
    <input type="checkbox"
           [checked]="palmTouchTrigger"
           (change)="palmTouchTrigger = !palmTouchTrigger; formChanged()"
           id="PalmTouchTrigger"
           name="PalmTouchTrigger" />
</div>

<div class="form-row">
    <label class="form-label" for="TouchTriggerCooldownPeriod">Touch Trigger Cooldown Period: </label>
    <input [(ngModel)]="touchTriggerCooldownPeriod"
           (change)="formChanged()"
           id="TouchTriggerCooldownPeriod"
           name="TouchTriggerCooldownPeriod"
           placeholder="Cmf Phone Number">
</div>

<div class="form-row">
    <label class="form-label" for="DemoMode">Demo Mode: </label>
    <input type="checkbox" 
           [checked]="demoMode" 
           (change)="demoMode = !demoMode; formChanged()"
           id="DemoMode"
           name="DemoMode" />
</div>

<div class="form-row">
    <label class="form-label" for="DeviceName">Device Name: </label>
    <input [(ngModel)]="deviceName"
           (change)="formChanged()"
           id="DeviceName"
           name="DeviceName"
           placeholder="Device Name">
</div>

<div class="form-row">
    <label class="form-label" for="VerboseLogging">Verbose Logging: </label>
    <input type="checkbox"
           [checked]="verboseLogging"
           (change)="verboseLogging = !verboseLogging; formChanged()"
           id="VerboseLogging"
           name="VerboseLogging" />
</div>

<button style="margin-top:20px" (click)="save()">Save Changes</button>

<div [style.color]="colorName" *ngIf="updated">{{promptText}}</div>
